@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}




* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;

}

/**/


body {
    font-family:'Pretendard-Regular';
    z-index: -99999;
}


body::-webkit-scrollbar { 
    width: 10px; 
}

body::-webkit-scrollbar-thumb { /*스크롤 막대*/
    background-color: #E9FFAA; 
    border-radius: 10px;
}

body::-webkit-scrollbar-track { 
    background-color: #001462;  
    border-radius: 10px;
}


header {
    background-color: rgba(255, 255, 255, 0.503);
    backdrop-filter: blur(5px);
    display: flex; 
    width: 100%;
    justify-content: space-between; 
    align-items: center; 
    height: 6vw;
    color: #0059FF;
    position: fixed;
    padding: 0 6vw 0 6vw;
    z-index: 9999;
    transition: all.5s ease-in-out;
    overflow: hidden;
}

header.scroll{
    height: 0;
    background: rgba(255, 255, 255, 0.5)

}


.nav ul {
    list-style: none;
    display: flex; 
    gap: 8vw;
}



.nav li {
    border: solid 0.1vw #0059FF;
    border-radius: 50px;
    text-decoration: none;
    padding: 0.5vw 4vw;
    font-size: 1vw;
    font-weight: 400;

}

nav li:hover{ 
    background-color: #0059FF;
    color: #E9FFAA;
    border-color: #0059FF;
    cursor: pointer;
    
}

.main {
    height: auto;
    position: relative;
    background-image: url(./img/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    overflow: hidden;

}

section {

    padding: 4% 5%;
    position: relative;
    
}

.logo{
    width: 2.2vw;
    height:3vw;
    background-image: url(./img/logo.png);
    background-repeat: no-repeat;
    background-size: 80%;

}


footer {
    position: relative;
    width: 100vw;
    height: 91vw;
    color: #fff;
    padding: 20px;
    background-image: url(./img/footer.png);
    background-repeat:no-repeat;
    background-size: 100%;
}


video{
    width: 100vw;
    height: auto;
    object-fit: cover; 
    display: block;
}


/*-----------------------------기획-------------------------------*/
.planning{
    width: 100%;
    height: 63vw;
    text-align: center;
    background-color: #0059FF;
    color: white;
    padding-bottom: 0;
    overflow: hidden;

}

.planning_2 {
    width: 100%;
    height: 38vw;
    display: flex;
    background-color: #0059FF; 
    color: white; 
    }



.planning_3{
    display: flex; 
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 55vw;
    background-color: #ffffff;
    color: white;
    background-image: url(./img/line.png);
    background-size: 100%;
    background-repeat:no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-top: 6%;
    overflow: hidden;
}



.planning_4{
    width: 100%;
    height: 66vw;
    background-color: #ffffff;
    color: white;
    text-align: center;
    overflow: hidden;
    display: flex;
    padding: 0 5% 0 5%;
    
}




.planning_4-1{
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 63vw;
    background-color: #ffffff;
    background-image: url(./img/Service\ Goal2.png);
    background-size: 100%;
    background-repeat:no-repeat;
    background-position: top;
    background-size: cover;
}



.planning_5{
    width: 100%;
    height: 50vw;
    display: flex;
    justify-content: space-between;
    background-color: #03155C; 
    color: white; 
    padding-top: 5%;
    overflow: hidden;
}



.planning_6 {
    width: 100%;
    height: 37vw; 
    background-color: #ffffff;
    background-image: url(./img/Gradient.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    overflow: hidden;
}




.planning_7{
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45vw;
    background-color: #ffffff;
    color: white;
    background-image: url(./img/line.png);
    background-size: 100%;
    background-repeat:no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-top: 10%;
}



.service{
    display: flex; 
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 60vw;
    background-color: #ffffff;
    color: white;
    padding-top: 10%;
    overflow: hidden;
}



.service2{
    width: 100%;
    height: 73vw;
    position: relative;
    background-color: #0053ED;
    color: rgb(255, 255, 255);
    text-align: center;
    overflow: hidden;
    z-index: 5;
    padding-left: 7vw;
    padding-right: 7vw;
}



.service3{
    width: 100%;
    height: 57vw;
    position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
    
}



/*------------------------------서비스 소개------------------------------------*/
.service_pr{
    width: 100%;
    height: 68vw;
    padding-top: 3vw;
    position: relative;
    background-color: #F6F9FF;
    color: rgb(0, 0, 0);
    text-align: left;
    
   
}

.service_pr2{
    width: 100%;
    height: 60vw;
    text-align: center;
    padding: 0;
    overflow: hidden;
    background-color: #F6F9FF;
   
}


.service_pr2>video{
    position: absolute;
    left: 50%;
    width: 100vw;
    bottom: 0;
    transform: translate(-50%);
}

.service_pr3{
    width: 100%;
    height: 82vw;
    position: relative;
    background-color: #E5EEFF;
    color: rgb(0, 0, 0);
}

.service_pr4{
    width: 100%;
    height: 125vw;
    position: relative;
    background-color: #E5EEFF;
    color: rgb(0, 0, 0);
    text-align: center;
    overflow: hidden;
    background-image: url(./img/service-bg2.png);
    background-repeat:no-repeat;
    background-position: top;
    background-size: 100%;

    
}

.service_PR_ttt{
    text-align: left;
    font-size: 1.8vw;
    line-height: 1.5;
    margin-top: 3vw;
    font-weight: 600;
    margin-bottom: 1.6vw;

}

.service_pr5{
    width: 100%;
    height: 70vw;
    position: relative;
    background-color: #F6F9FF;
    color: rgb(0, 0, 0);
    padding-top: 9vw;
}

.service_pr6{
    padding-top: 110px;
    height: 58vw;
    background-image: url(./img/Fizz_Keyring.png);
    background-repeat:no-repeat;
    background-position: top;
    background-size: 100%;
}


.service_pr7{
    width: 100%;
    height: 61vw;
    padding-top: 4vw;
    position: relative;
    background-color: #EDF4FF;
    color: rgb(0, 0, 0);
    padding-top: 9vw;
}


.service_pr8{
    width: 100%;
    height: 67vw;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #EDF4FF;
    color: rgb(0, 0, 0);
}

.service_pr9{
    width: 100%;
    height: 64vw;
    position: relative;
    background-color: #EDF4FF;
    color: rgb(0, 0, 0);
    margin-top: 0;
}

.service_pr10{
    width: 100%;
    height: 68vw;
    position: relative;
    background-color: #E5EEFF;
    color: rgb(0, 0, 0);
    overflow: hidden;

}

.service_pr11{
    width: 100%;
    height: 46vw;
    position: relative;
    background-color: #E5EEFF;
    padding: 0;
}

.design_1{
    width: 100%;
    height: 105vw;
    position: relative;
    background-color: #ffffff;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 5vw;
}

.design_2{
    width: 100%;
    height: 55vw;
    position: relative;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding:0 6vw 0 0;
}

.design_3{
    width: 100%;
    height: 53vw;
    position: relative;
    background-color: #ffffff;
    color: rgb(0, 0, 0);

}

/*-----------------------------------------------각 섹션-----------------------------------------------------*/


.service-p{ /*서비스 설명*/
    font-size: 1.5vw;           
    line-height: 1.5;         
    margin: 2vw 0 0 0vw;
   
}

.service-p3{ /*서비스 설명*/
    font-size: 1.3vw;           
    line-height: 1.7;         
    margin: 2.3vw 0 3vw 0vw;
    font-weight: 200;
   
}

.service-p2{ /*서비스 설명*/
     font-size: 2vw;     
     margin-top: 9vw;       
}

.planning_h2{ /*큰 제목*/
    font-size: 2.5vw;         
    margin: 5vw 0 0 0;
    font-weight: 600;         
}

.service-t{  /*구성 제목(img)*/
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2vw;
}


.planning-char{
    width: 24vw;
    margin-bottom: 10vw;
    animation: updown2 2.5s ease-in-out infinite;
    
}
.planning-char2{
    width: 22.5vw;
    animation: updown2 2.5s ease-in-out infinite;
    animation-delay: 0.5s
}

@keyframes updown {
    0% { transform: translateY(0); }   
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0); } 
}   

@keyframes updown2 { /*메인 캐릭터 모션*/
    0% { transform: translateY(0); }   
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); } 
}   





/*----------------------------------기획2---------------------------------------*/


.planning-s {
font-size: 2vw; 
font-weight: 600; 
margin-left: 11.5%; 
}

.planning-s2 {
font-size: 2vw; 
font-weight: 600; 
left: 30%;
top: 0%;
position: absolute; 
z-index: 1;
}

.planning_talk1 {
position: absolute; 
width: 100%; 
left: 5%; 
top: 2%;

}

.planning_talk2 {
position: absolute; 
width: 100%;
left: 36%; 
top: 30%; 
}

.planning_talk1 img, .planning_talk2 img {
max-width: 60%; 
height: auto; 
}
.planning_talk2 img{
margin-top: 1.5vw;
}


/*---------------------------------------기획3-----------------------------------------*/

.planning_data {  /*통계*/
width: 55vw;
overflow: hidden;
}

.planning-s3 {  /*설명3*/
font-size: 2.6vw;           
margin-bottom: 7.5vw; 
line-height: 1.3;
font-weight: 600;
}

.planning-s4 {  /*설명4*/
font-weight: 300;
font-size: 1.3vw;
line-height: 1.5;
text-align: left;
}

.planning-talk-box2 { /*설명 통합*/
width: 55vw; 
color: white;
text-align: left; 
margin-left: 1.5%;
}


/*---------------------------------------기획4-----------------------------------------*/

.planning_4 >.planning-text-box2> h2{ /*큰 제목*/
    font-size: 2.5vw;
    font-weight: 600;
    margin-bottom: 10px;
    
}

.planning-text-box2{  /*큰 제목*/
    width: 90%;
    top: 4%;
    position: absolute;
    margin-bottom: 60px;
    text-align: center;
    color: rgb(0, 0, 0);
}


.planning_Qbox{
    position: absolute;
    left: 6%;
    top: 30%;
    width: 88%;
    height: 50vw;
    min-width: 57%;
    z-index: 5;
    overflow: hidden;
}

.planning_Q1{
    position: absolute;
    left: 2%;
    width: 25%;
    min-width: 50%;
}

.planning_A1{
    position: absolute;
    width: 55%;
    left: 1%;
    top: 25%;
    min-width: 57%;
}

.planning_A2{
    position: absolute;
    left: 65%;
    top: 3%;
    width: 15%;
    min-width: 37%;
}





/*------------------------------------프로젝트 목표--------------------------------------------*/


.Goal{
    position: absolute;
    left: 25%;
    top: 71%;
    width: 50%;
    transform:translate(-50%, -50%);
}


/*------------------------기획 페르소나-------------------------------------------------*/

.planning_5>.planning-text-box3>h2{
    font-size: 2.5vw; 
    font-weight: 600;         
    margin-bottom: 3%;
}

.planning-text-box3{  /*기획5 페르소나 타이틀*/
    width: 100%;
    top: 5%;
    text-align: center;
    color: rgb(255, 255, 255);
}
.planning_persona{ /*기획5 페르소나 이미지 컨테이너*/
    width: 100%;
    top: 35%;
    position: absolute;
    left: 0;
    text-align: center;
    
}
.planning_persona img{ /*기획5 페르소나 이미지*/
    width: 41%;
}

#persona2{ /*기획5 페르소나 이미지2 간격조정*/
    margin-left: 5%;
}

.persona3_Box{
    box-sizing: border-box;
}

.persona3 {
    width: 40.6vw;
    height: 6.6vw;
    background-color: #E9FFAA;
    border-radius: 1.4vw;
    margin-bottom: 1.5vw;
    align-items: center;
    padding-top: 2.2vw;
}
.persona4 {
    width: 40.8vw;
    height: 29.1vw;
    background-color: #ffffff;
    border-radius: 2.6vw;
    align-items: center;
    padding: 3.5vw 2vw 2vw 2vw;
    justify-content: center;
    overflow: hidden;
}

.persona_t {

    font-size: 1.9vw;
    color: black;
    font-weight: 600;
    align-items: center;
}

.persona_tt {
    font-size: 1.4vw;
    color: black;
    font-weight: 600;
    text-align: left;
    margin-bottom: 1.4vw;
}

.persona_ttt {
   
    font-size: 1.2vw;
    color: black;
    font-weight: 200;
    text-align: left;
    margin-bottom: 4vw;
}

.persona3_img{
    width: 40%;
    position: absolute;
    top: 81%;
    transform: translate(-50%,-50%);
}
.planning_QQ{
    width: 100vw;
    position: relative;
    overflow: hidden;
}


.planning_bar{
    position: absolute;
    left: 15%;
    top: 72%; 
    transform: translateY(-50%);
    width: 25%; 
    height: auto; 
   
   
}

[data-aos="example-anim3"] {
    width: 0%;
    &.aos-animate {
        width: 45%;
    }
}




.planning4-t {
    position: absolute; 
    left: 50%;
    top: 27%;
    transform: translate(-50%,-50%);
    color: white;
    line-height: 1.6;
    font-size: 1.8vw; 
    font-weight: 100; 
    z-index: 1;
    text-align: center;

}


/*------------------------------------------------------------------------------*/


.planning_persona_motion {
    display: flex;
    width: 630%; 
    animation: slide 50s linear infinite;
    margin-top: 4vw;
}

.persona-ani {
    flex: 0 0 24%;
    height:12vw;
    background-image: url(./img/planning_persona_ani1.png); 
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 2vw;
}

.planning_persona_motion2 {
    display: flex;
    width: 630%;
    animation: slide 50s linear infinite;

}

.persona-ani2 {
    flex: 0 0 20%; 
    height: 15vw;
    background-image: url(./img/planning_persona_ani2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 2vw;
}


@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-400vw);
    }
}





/*------------------------------------------------------------------------------*/

.planning_7>.design_start>h2{
font-weight: 600;
font-size: 6.4vw;
margin-top: 10vw;
overflow: hidden;

}

.design_start{ /*디자인 시작 컨테이너*/
position: absolute;
top: 30px;
text-align: center;
width: 100vw;
color: white;

}

.designT{
    margin-top: 2%;
    text-align: center;
    width: 5%;
}



/*------------------------------------------------------------------------------*/

.planning-s5{  /*기획7 설명3*/
    width: 75%;
}

.planning-s5-1{  /*업사이클링에 탄산을 더하는*/
    position: absolute;
    left: 24%;
    top:10%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 80%;
    font-size: 2.4vw; 
    font-weight: 600;
    margin-bottom: 8%;
    z-index: 5;
}

.planning-s5-1_back{
    position: absolute;
    top: 7%;
    width: 35%;
    height: 6%;
    left: 6.5%;
    z-index: 1;
    background-color: #BCD4FF;
}

.planning-s6{  /*기획7 설명4*/
    font-size: 1.5vw;
    line-height: 1.6;
    text-align: left;
    margin-top: 19vw; 
    color: #4E4E4E;
    max-width: 50vw; 
}

.planning-talk-box3{ /*기획7 설명 통합*/
    color: rgb(0, 0, 0);
    width: 90vw;
    text-align: left;
    margin-left: 1%;
    margin-top: 2%;
    max-width: 80vw; 
}

.planning_dt1{  /*기획7 통계*/
    width: 100%; 
    height: auto; 
    margin-bottom: 2%;
    
}


/*------------------------------------------------------------------------------*/

.planning_persona2 {
    width: 90vw;
    height: 40vw;
    text-align: center;
    justify-content:space-between;
    display: flex;
}

.planning_persona3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 10vw;
}

.planning_persona2 img{ /*기획5 페르소나 이미지*/
    width: 45%;
}

.planning-text-box4{  /*기획5 페르소나 타이틀*/
    width: 100%;
    margin-top: 1%;
    margin-bottom: 3vw;
    text-align: center;
    color: rgb(255, 255, 255);
}
.service2>.planning-text-box4>h2{
    font-size: 2.5vw;
    font-weight: 600;
 }
/*------------------------------------------------------------------------------*/

.service-pp{ /*서비스 설명*/
    font-size: 1.6vw;           
    line-height: 1.5;         
    margin: 1vw 0 0 0vw;
    font-weight: 400;
    color: #4E4E4E;
}

.planning-s7{  /*기획7 설명4*/
    font-size: 1.5vw;
    line-height: 1.5;
    text-align: left;
    margin-left: 1vw;
}

.planning-s8{  /*기획7 설명4*/
    font-size: 1.5vw;
    line-height: 1.5;
    margin-bottom: 13px;
    text-align: left;
}
.mokup_L{
    width: 25%;
    position: absolute;
    left: 18%;
    top: 50%;
    transform:translate(-50%, -50%);
    z-index: 2;
}


.service_pr_show{
    width: 24vw;
    height: 50.2vw;
    position: absolute;
    left: 18%;
    top: 50%;
    transform:translate(-50%, -50%);
    z-index: 1;
    border-radius: 3.8vw;

}





.mokup_L2 {
    width: 25%; 
    position: absolute;
    left: 19%;
    top:55%;
    transform: translate(-50%, -50%);
}






.service_pr_show4{
    width: 24vw;
    height: 50.2vw;
    position: absolute;
    left: 19%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 4.1vw;

}





.mokup_L3 {
    width: 25%; 
    position: absolute;
    left: 18%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.service_pr_show6{
    width: 24vw;
    height: 50vw;
    position: absolute;
    left: 18%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 3.9vw;

}





.mokup_M {
    width: 24vw; 
    position: relative;
    left: 0%; 
    top: 3%;
}

.mokup_R {
    width: 25%; 
    position: absolute;
    left: 82%;
    top: 42%;
    transform: translate(-50%, -50%);
}

.mokup_R2 {
    width: 25%; 
    position: absolute;
    left: 83%;
    top: 49%;
    transform: translate(-50%, -50%);
    z-index: 2;
}


.service_pr_show3{
    width: 24vw;
    height: 50.2vw;
    position: absolute;
    left: 82.8%;
    top: 49%;
    transform: translate(-50%, -50%);
    border-radius: 4.1vw;
    z-index: 1;
}




.mokup_R3 {
    width: 25%; 
    position: absolute;
    left: 82%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.service_pr_show5{
    width: 24vw;
    height: 50.2vw;
    position: absolute;
    left: 82%;
    top: 45%;
    transform: translate(-50%, -50%);
    border-radius: 4.1vw;
    z-index: 1;

}




.home_mokup{
    width: 59%;
    margin-top: 8vw;
   
}


.service_pr_show2{
    width: 24vw;
    height: 50.2vw;
    position: absolute;
    left: 82%;
    top: 42%;
    transform:translate(-50%, -50%);
    border-radius: 4.1vw;
}

.mokup_S1{
     width: 25%;
    position: absolute;
    left: 34%;
    top: 50%;
    transform:translate(-50%, -50%);
}

.mokup_S2{
    width: 25%;
    position: absolute;
    left: 54%;
    top: 50%;
    transform:translate(-50%, -50%);
}



.service_PR_T{ /*서비스 분류*/
    width: 23%;
    position: absolute;
    left: 51.5%;
    top: 18.8%;
    transform: translate(-50%, -50%);
    border: solid 0.15vw #0059FF;
    border-radius: 50px;
    padding: 1.2vw 5vw;
    font-size: 2vw;
    color: #0053ED;
    background-color: b9d1ff;
    font-weight: 600;
    text-align: center;
}

.service_PR_T3{ /*서비스 분류*/
    width: 25%;
    border: solid 0.15vw #0059FF;
    border-radius: 50px;
    padding: 1.2vw 5vw;
    font-size: 2vw;
    color: #0053ED;
    background-color: b9d1ff;
    font-weight: 600;
    text-align: center;
}


.service_PR_T4{ /*서비스 분류*/
    width: 25%;
    border: solid 0.15vw #0059FF;
    border-radius: 50px;
    padding: 1.2vw 5vw;
    font-size: 2vw;
    color: #0053ED;
    background-color: b9d1ff;
    font-weight: 600;
    text-align: center;
    margin-top: 6%;
}

.service_PR_T2{ /*서비스 분류*/
    width: 35%;
    border-radius: 50px;
    padding: 0.9vw 4.6vw;
    font-size: 2.8vw;
    color: #ffffff;
    background-color: #0059FF;
    font-weight: bold;
    position: absolute;
    left: 35%;
    top: 0%;
    margin-bottom: 40px;
    transform:translate(-50%);
    text-align: center;
}

.service_PR_t{ /*서비스 대제목*/
    text-align: left;
    font-size: 1.8vw;
    line-height: 1.5;
    margin-top: 3vw;
    font-weight: 600;
    margin-bottom: 1.6vw;
    
}

.service_PR{ /*텍스트 컨테이너*/
    width: 65%;
    position: absolute;
    left: 74%;
    top: 55%;
    transform:translate(-50%, -50%);
}

.service_PR2{
    width: 65%;
    position: absolute;
    left: 74%;
    top: 34%;
    transform:translate(-50%, -50%);
}

.service_PR3{
    position: absolute;
    width: 55%;
    left: 69%;
    top: 59%;
    transform:translate(-50%, -50%);
}

.Service-pr1{
margin-top: 7vw;
width: 100%;
}

.service-menu{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 0%;
    transform:translate(-50%);
    z-index: -1;
}

.service_PR_t2{
    text-align: center;
    font-size: 2.4vw;
    font-weight: 600;
}

.service_PR_t3{
    text-align: center;
    font-size: 2.6vw;
    margin-top: 7.5vw;
    font-weight: bold;
}



.service_mk2{
    margin-top: 170px;
}



.Service-pr2{
    margin-top: 5px;
}

.service_PR_t1{
    text-align: left;
    font-size: 1.3vw;
    line-height: 1.5;
    color: #4E4E4E;
}

.service_PR_t4{
    text-align: left;
    font-size: 1.3vw;
    line-height: 1.5;
    color: #4E4E4E;
    margin-bottom: 5px;
}

.mokup_box{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 60%;
    transform:translate(-50%, -50%);
    height: 41vw;
}




.service_talk1{
    width: 28%;
    position: absolute;
    left: 13%;
    top: 9%;
    transform:translate(-50%, -50%);
}

.service_talk2{
    width: 28%;
    position: absolute;
    left: 40%;
    top: 20%;
    transform:translate(-50%, -50%);
}

.service_talk_T_Box{
    width: 60%;
    height: 20%;
    position: absolute;
    left: 50%;
    top: 14%;
    transform:translate(-50%, -50%);
    overflow: hidden;
}


.service_EX1{ /*이미지+텍스트*/
    width: 35%;
    margin-left: 24vw;
    margin-top: 25vw;
    
}


.service_EX2{
    position: absolute;
    width: 20%;
    left: 72%;
    top: 29%;
    transform:translate(-50%, -50%);
    
}


.service_EX3{
    width: 50%;
    margin-top: 8.5vw;
    margin-left: 1vw;
   
}



.Fizz_mokup_box{
    position: absolute;
    left: 38%;
    top: 70%;
    transform:translate(-50%, -50%);
    display: flex;
    gap: 25px;

}




.Fizz_mokup_box2{
    position: absolute;
    left: 37%;
    top: 70%;
    transform:translate(-50%, -50%);
    display: flex;

}




.FZTalk_img{
    width: 100%;
    height: auto;
    display: flex;
}



.BeneFit_box{
    display: flex;
    margin-top: 7vw;
    width: 100%;
}


.wave1{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 23vw;
z-index: 5;
background: url(./img/wave1.png);
background-size: 120%;
animation: wave 60s linear infinite;
}



.wave2 {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 35vw;
    z-index: 1;
    background: url(./img/wave2.png);
    background-size: 120%;
    animation: wave2 45s linear infinite; 
}




@keyframes wave{
0%{
    background-position-x: 0;
}
100%{
    background-position-x: 1929px;
}

}



@keyframes wave2{
0%{
    background-position-x: 0;
}
100%{
    background-position-x: 1929px;
}

}


@keyframes slide2 {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}

.wave_cha_box{
    position: relative;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    animation: slide2 15s linear infinite;
    z-index: 1;
}

.wave_cha {
    bottom: 39%;
    left: 0%; 
    width: 18%;
    rotate: 15deg;
    position: absolute;
    z-index: 2;
    animation: updown 1.5s ease-in-out infinite
}

.wave_cha2 {
    bottom: 11%;
    left: 16%; 
    width: 25%;
    position: absolute;
    z-index: 2;
    animation: updown 1.5s ease-in-out infinite
}

.wave_cha3 {
    bottom: 26%;
    left: 45%; 
    width: 28%;
    rotate: 12deg;
    position: absolute;
    z-index: 2;
    animation: updown 1.5s ease-in-out infinite
}

.wave_cha4 {
    bottom: 35%;
    left: 84%; 
    width: 16%;
    rotate: -10deg;
    position: absolute;
    z-index: 2;
    animation: updown 1.5s ease-in-out infinite
}

.design_img_box{
    margin-top: 3vw;
}


.FIZZ_LIME {
    width: 100%; 
    height: 12vw; 
    background-color: #E9FFAA;
    border-radius: 0 3vw 3vw 0; 
    margin-top: 2.3vw; 
    position: relative; 
    overflow: hidden; 
}

.FIZZ_LIME::before {
    content: "";
    background-image: url('./img/FIZZ_LIME_T.png');
    background-repeat: no-repeat; 
    background-size: 81%;
    background-position: center;
    position: absolute; 
    top: 0; 
    left: 100%;
    width: 100%; 
    height: 100%; 
    opacity: 0; 
    transform: translateX(-95%);
    transition: transform 0.4s linear, opacity 0.7s linear; 
    z-index: 0; 
    
}

.FIZZ_LIME:hover::before {
    transform: translateX(-100%); 
    opacity: 1; 
}



@keyframes bounce {
    0% {
        transform: translateY(100%); 
        opacity: 0; 
    }
    50% {
        transform: translateY(-20%); 
        opacity: 1; 
    }
    100% {
        transform: translateY(0); 
    }
}

.FIZZ_BLUE {
    width: 100%;
    height: 12vw;
    background-color: #0059FF;
    border-radius: 0 3vw 3vw 0;
    position: relative; 
}

.FIZZ_BLUE::before {
    content: "";
    background-image: url('./img/Fizz_Blue_T.png');
    background-repeat: no-repeat;
    background-size: 81%;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(5%);
    transition: transform 0.4s linear, opacity 0.7s linear;
    z-index: 0;
}

.FIZZ_BLUE:hover::before {
    transform: translateX(0%);
    opacity: 1;
}

.FIZZ_INDIGO {
    width: 100%;
    height: 12vw;
    background-color: #001462;
    border-radius: 0 3vw 3vw 0;
    position: relative; 
}

.FIZZ_INDIGO::before {
    content: "";
    background-image: url('./img/FIZZ_indigo_T.png');
    background-repeat: no-repeat;
    background-size: 81%;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(5%);
    transition: transform 0.4s linear, opacity 0.7s linear;
    z-index: 0;
}

.FIZZ_INDIGO:hover::before {
    transform: translateX(0%);
    opacity: 1;
}



.Character_box{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 27%;
    overflow: hidden;


}

.Character_box img{

    transition: transform 0.3s ease, filter 0.3s ease;
    width: 55%;
    filter: brightness(60%) sepia(0) hue-rotate(10deg);
}

.design_T{
    font-size: 1.2vw;
    font-weight: 600;
    margin-bottom: 5vw;
    
}

.design_T2{
    font-size: 1.2vw;
    font-weight: 600;
    margin-bottom: 3vw;
   
}


.design_T_box{
    margin-left: 5vw;
}



.design_T_box2{
    margin-left: 9vw;
}


.member {
    font-size: 1.5vw;
    display: flex;
    gap: 13.5vw;
    text-align: left;
    position: absolute;
    left: 6.5%;
    top: 78%;
}

.site{
    position: absolute;
    left: 6%;
    bottom: 7%;
    font-size: 1.2vw;
    color: #D6DEFF;
}

.design_1_TT{
font-size: 3vw;
margin-top: 4vw; 
font-weight: 600;
margin-bottom: 3vw;
}


.FZTalk_Box{
    width: 98%;
    margin-top: 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.2vw 2.5vw; 
   
}


.FZTalk_talk1{
    width: 36%;
    position: absolute;
    left: 82%;
    top: 6%;
    transform:translate(-50%, -50%);
}


.FZTalk_talk2{
    width: 34%;
    position: absolute;
    left: 17%;
    top: 54.5%;
    transform:translate(-50%, -50%);
}

.mokup_box2{
    width: 90%;
    position: absolute;
    left: 50%;
    top: 48%;
    transform:translate(-50%, -50%);
    height: 60vw;
    
}


.Fopup_talk{
    width: 30%;
    position: absolute;
    top: 43%;
    left: 21.5%;
    z-index: 2;
}


/*.Character2 {
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 35%;
    
}


.Character2_box {
    display: flex;
    justify-content: center; 
    width: 400vw;
    gap: 12vw; 
    animation: slideshow 5s ease-in-out infinite;
}


.Character2_box img {
    width: 20vw; 
    height: auto;
    flex-shrink: 0;
}



    @keyframes slideshow {
        0%, 20% { transform: translateX(-70.5vw); }           
        25%, 45% { transform: translateX(-102.5vw); }       
        50%, 70% { transform: translateX(-134.5vw); }       
        75%, 95% { transform: translateX(-166.5vw); }       
        100% { transform: translateX(-198vw); }            
}

@media (max-width: 1920px) {
    
    .Character2_box {
        animation: slideshow1920 6s ease-in-out infinite; 
    }

    @keyframes slideshow1920 {
        0%, 20% { transform: translateX(-70.4vw); }           
        25%, 45% { transform: translateX(-102.4vw); }       
        50%, 70% { transform: translateX(-134.4vw); }       
        75%, 95% { transform: translateX(-166.4vw); }       
        100% { transform: translateX(-198vw); }      
    }
}


@media (max-width: 1024px) {
    
    .Character2_box {
        animation: slideshow1024 6s ease-in-out infinite; 
    }

    @keyframes slideshow1024 {
        0%, 20% { transform: translateX(-70.5vw); }           
        25%, 45% { transform: translateX(-102.5vw); }       
        50%, 70% { transform: translateX(-134.5vw); }       
        75%, 95% { transform: translateX(-166.5vw); }       
        100% { transform: translateX(-198vw); }      
    }
}


@media (max-width: 768px) {
   
    .Character2_box {
        animation: slideshow768 7s ease-in-out infinite;
    }

    @keyframes slideshow768 {
        0%, 20% { transform: translateX(-71.3vw); }           
        25%, 45% { transform: translateX(-103.3vw); }       
        50%, 70% { transform: translateX(-135.3vw); }       
        75%, 95% { transform: translateX(-167.3vw); }       
        100% { transform: translateX(-198vw); }        
    }
}


@media (max-width: 480px) {
   
    .Character2_box {
        animation: slideshow480 8s ease-in-out infinite; 
    }

    @keyframes slideshow480 {
        0%, 20% { transform: translateX(-70.5vw); }           
        25%, 45% { transform: translateX(-102.5vw); }       
        50%, 70% { transform: translateX(-134.5vw); }       
        75%, 95% { transform: translateX(-166.5vw); }       
        100% { transform: translateX(-198vw); }      
    }
}*/

.Chr1:hover {
    transform: scale(1.05);
    filter: brightness(100%) sepia(0) hue-rotate(0deg);
    
}

.Chr2:hover {
    transform: scale(1.05);
    filter: brightness(100%) sepia(0) hue-rotate(0deg);
}

.Chr3:hover {
    transform: scale(1.05);
    filter: brightness(100%) sepia(0) hue-rotate(0deg);
}

.Chr4:hover {
    transform: scale(1.05);
    filter: brightness(100%) sepia(0) hue-rotate(0deg);
}


.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    align-items: center;
    justify-content: center;
    z-index: 10;
}



.modal2{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    align-items: center;
    justify-content: center;
    z-index: 10;
}




.modal3{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    align-items: center;
    justify-content: center;
    z-index: 10;
}



.modal4{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.Character_id{
    position: absolute;
    top: 53%;
    left: 38%;
    transform:translate(-50%, -50%);
    width: 16%;
    z-index: 1;
    width: 18vw; 
    border-radius: 5vw


}

.Character_id2{
    position: absolute;
    top: 53%;
    left: 36%;
    transform:translate(-50%, -50%);
    width: 26%;
    z-index: 1;
    width: 15vw; 
    border-radius: 8vw;


}

.Character_popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 50%;
}




[data-aos="example-anim2"] {
    opacity: 0;
    &.aos-animate {
        color: #E9FFAA;
        opacity: 1;
        
    }
}

[data-aos="example-anim1"] {
    width: 0%;
    &.aos-animate {
        width: 35%;
    }
}

.top_btn{
position: fixed;
width: 5vw;
height: 5vw;
background-image: url(./img/topbtn.png);
background-repeat:no-repeat;
background-position: bottom;
background-size: cover;
z-index: 99999;
border-radius: 50%;
bottom: 40px; 
right: 42px; 
transition: transform 0.4s ease-in-out
}
.top_btn:hover {
transform: rotate(360deg);
}

.main_phone{
width: 55vw;
position: absolute;
left: 23%;
top: 21%;
transform: translate(-50%,-50%);
animation: updown 2s ease-in-out infinite;
}


.planning_A_box{
width: 100%;
height: 100%;
}


.buble{
position: absolute;
bottom: 5%;
width: 20%;
height: 20%;
border-radius: 50%;
background-color: rgba(162, 193, 250, 0.7); 
animation: up 4s infinite ease-in; 
}


@keyframes up {
0% {
    transform: translateY(0) scale(0.5);
    opacity: 0.6;
}
50% {
    opacity: 1;
}
100% {
    transform: translateY(-110vh) scale(1);
    opacity: 0;
}
}


.Sources{
    position: absolute;
    left: 6%;
    line-height: 1.5;
    bottom: 2%;
    font-size: 0.8vw;
    color: #879FFF;
}

.planning-char_box {
    width: 100vw;
    display: flex;
    align-items: center;
    height: 55%;
    position: absolute;
    justify-content: center;
    left: 0;
    bottom: 0;
    overflow: hidden;
}



